/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/*---------------------
Header section start 
---------------------*/
.container{
    display: flex;
    height: 500px;
    width: 1050px;
    border: 1px solid maroon;
    margin: auto;
    margin-top: 10vh;
    margin-left: 20vh;
    margin-right: 20vh;
    align-items: center;
    background-color: #161616;
    border-radius: 20px;
    justify-content: center;
    padding: 30px;
    
}

.header-text{
    width: 50%;
    color: white;  
}

.header-text h1{
    font-weight: 700px;
    font-size: 70px;
    line-height: 80px;
}  

.btn{
    padding: 13px 40px;
    background-color: #DD0000;
    color: white;
    border-radius: 8px;
    transition-property: width;
    transition: 2s;
    border: 2px solid gray;;
    font-weight: 700px;
    font-size: 18px;
}

.btn:hover{
    border: 2px solid #DD0000;;
    transform: rotateY(360deg);
    background-color: gray;
    color: #DD0000;
    font-weight: 800px;
    cursor: pointer;
    animation-play-state: running;
}

.btn .fa-tv{
    margin-left: 15px;
}
.header-image{
    width: 50%;

}
.header-image img{
    width: 70vh;
    margin-bottom: -14vh;
}

/*---------------------
Header section end 
---------------------*/

/*---------------------
Main section start 
---------------------*/

main{
    margin-top: 18vh;
}

.main-container{
    display: flex;
    margin-left: 20vh;
    margin-right: 10vh;
    
}

.main-button{
    display: flex;
    flex-direction: column;
    background-color: #161616;
    width: 250px;
    height: 250px;
    row-gap: 30px;
    justify-content: center;
    border-radius: 8px;
    padding: 20px;
}
.main-button a{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 50px;
    border-radius: 8px;
    text-align: center;
    font-weight: 700;
    background-color: white;
    color: #161616;
    padding: 18px 0;
}

/* ------------------
Live-Match Section 
--------------------*/
.main-details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 20px;
    padding: 0 20px;
}

.live-match{
    border: 1px solid rgba(210, 199, 199, 0.522);
}

.live-match img{
    width: 100%;
    padding-bottom: 10px;
}

.live-match button{
    padding: 04px 10px;
    margin-left: 15px;
}

.live-match h3{
    font-size: 15px;
    font-weight: 700;
    color: #161616;
    margin-left: 15px;
}

.tc-section{
    display: flex;
    padding: 18px;
    justify-content: space-between;
    color: #4D4D4D;
}


/*--------------- 
Footer-Section 
----------------*/
.footer-section{
    background-color: #161616;
    width: 100%;
    height: 300px;
    color: white;
    text-align: center;
    padding-top: 22vh;
    margin-top: 7vh;
}

.footer-section span{
    padding: 2vh 4vh;
    font-size: 15px;
    color: #B9B9B9;
}
.footer-section h1{
    padding: 5vh;

}
.social-icon{
    padding: 7vh;
    font-size: 4vh;
}

.social-icon i{
    margin-right: 3vh;
    color: #B9B9B9;
}

/* Upcomming Matches Website */

.flag-img{
    display: flex;
    padding: 5vh;
    
}

.upcomming-match{
    border: 1px solid rgba(210, 199, 199, 0.522);
    border-radius: 1vh;
    
}
.upcomming-match h3{
    margin-top: -3vh;
    text-align: center;
    font-size: 2.5vh;
}
.upcomming-match p{
    color: #4D4D4D;
    font-size: 2vh;
    text-align: center;

}

/* --------------------------------
Upcomming match website finished 
-----------------------------------*/

/* All Group website strat */

.player{
    text-align: center;
    padding: 0 4vh;
    border: 1px solid rgba(210, 199, 199, 0.522);
    border-radius: 2vh;
    margin-bottom: 2vh;
}

.player-comment{
    margin-left: 5vh;
    margin-right: 2vh;

}

/* All Group website end */